main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr auto;
  background-color: #49cdf918;
}
.all-wrapper {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  padding: 35px 25px 25px 25px;
}
.all-bottom-wrapper {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  padding: 25px;
}

main .all-wrapper h2 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 400;
}
.todo-container {
  color: #56555c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 50px;
  background-color: #49cdf91c;
  margin-top: 25px;
  padding: 20px;
  -webkit-box-shadow: 0px 8px 27px -18px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 8px 27px -18px rgba(66, 68, 90, 1);
  box-shadow: 0px 8px 27px -18px rgba(66, 68, 90, 1);
}

.left-todo-container {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.left-todo-container h4 {
  font-size: 1.3rem;
}
.left-todo-container input {
  margin: 4px 0 0;
  line-height: normal;
  width: 20px;
  height: 20px;
}
.left-todo-container input:hover {
  cursor: pointer;
}
.mid-todo-container {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  color: #c6c3cd;
}
.mid-todo-container svg {
  width: 20px;
  transform: rotateX(0);
  transition: transform 0.6s;
}
.mid-todo-container svg.open {
  transform: rotateX(3.142rad);
  transition: transform 0.6s;
}
.mid-todo-container svg:hover {
  cursor: pointer;
}
.right-todo-container {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
}

.due-date-container p {
  color: #c6c3cd;
  font-size: 0.95rem;
}
.priority-container {
  font-size: 1.1rem;
}
.edit-btn,
.delete-btn {
  background-color: transparent;
  border: none;
}
.edit-btn:hover,
.delete-btn:hover {
  cursor: pointer;
}
.edit-btn svg,
.delete-btn svg {
  width: 30px;
}

.delete-btn svg {
  color: #e51c1f;
}
.description-container {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.25s grid-template-rows ease;
}
.description-container:has(p.open) {
  grid-template-rows: 1fr;
}
.description-container p {
  color: #56555cb4;
  overflow: hidden;
}
.description-container p.open {
  display: block;
  margin: 15px 0;
}
.all-bottom-wrapper {
  display: flex;
  justify-content: end;
}
.all-bottom-wrapper button {
  background-color: #fd71b088;
  border-radius: 15px;
  border: none;
  padding: 12px 16px;
  color: #f74092;
  transition: all 0.15s;
}
.all-bottom-wrapper button:hover {
  background-color: #f74092;

  color: #ffffff;
  cursor: pointer;
}
