main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr auto;
  background-color: #49cdf918;
}
.all-wrapper {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  padding: 35px 25px 25px 25px;
}
.all-bottom-wrapper {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  padding: 25px;
}

main .all-wrapper h2 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 400;
}
.todo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-radius: 50px;
  background-color: #49cdf91c;
  margin-top: 25px;
  padding: 20px;
  -webkit-box-shadow: 0px 8px 27px -18px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 8px 27px -18px rgba(66, 68, 90, 1);
  box-shadow: 0px 8px 27px -18px rgba(66, 68, 90, 1);
}
.left-todo-container {
  width: 40%;
}
.mid-todo-container {
  width: 20%;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  color: #c6c3cd;
}
.mid-todo-container svg {
  width: 20px;
}
.right-todo-container {
  width: 40%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
}
.due-date-container p {
  color: #c6c3cd;
}
.edit-btn,
.delete-btn {
  background-color: transparent;
  border: none;
}
.edit-btn:hover,
.delete-btn:hover {
  cursor: pointer;
}
.edit-btn svg,
.delete-btn svg {
  width: 30px;
}

.delete-btn svg {
  color: #e51c1f;
}
.all-bottom-wrapper {
  display: flex;
  justify-content: end;
}
.all-bottom-wrapper button {
  background-color: #fd71b088;
  border-radius: 15px;
  border: none;
  padding: 12px 16px;
  color: #f74092;
  transition: all 0.15s;
}
.all-bottom-wrapper button:hover {
  background-color: #f74092;

  color: #ffffff;
  cursor: pointer;
}
