dialog.edit-project-dialog {
  border-radius: 15px;
  border: none;
}
dialog.edit-project-dialog form > div {
  display: flex;
  flex-direction: column;
}
dialog.edit-project-dialog form > div + div {
  margin: 20px 0;
}

dialog.edit-project-dialog label {
  margin-bottom: 5px;
  font-size: 1.05rem;
}
dialog.edit-project-dialog input,
dialog.edit-project-dialog textarea {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #888396;
}
dialog.edit-project-dialog input:focus,
dialog.edit-project-dialog textarea:focus {
  outline: 2px solid #7b68ee;
  border: 1px solid transparent;
}

#edit-project-submit-container {
  flex-direction: row;
  justify-content: space-between;
}
#edit-project-submit-container button {
  border-radius: 5px;
  padding: 10px 24px;
  transition: all 0.15s;
  border: none;
}

#edit-project-submit-container button:hover {
  color: #ffffff;
  cursor: pointer;
}
#edit-project-cancel-btn {
  background-color: #e6e5e5;
  color: #56555c;
}
#edit-project-cancel-btn:hover {
  background-color: #bbbbbb;
}
#edit-project-submit-input {
  background-color: #7c68ee75;
  color: #7b68ee;
}
#edit-project-submit-input:hover {
  background-color: #7b68ee;
}
